* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------ Custom Properties ------------ */
:root {
  --color-1: #fcf5e9;
  --color-dark: #333;
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color:#333;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
}

/* ------------ Utility Classes ------------ */
.bg-color-1 {
  background: var(--color-1);
  color: var(--color-dark);
}

.bg-dark {
  background: var(--color-dark);
  color: var(--color-1);
}

.bg-dark .bg-color-1 {
  padding: 0 0.3rem;
}

.section-heading {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--color-dark);
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: var(--color-dark);
  }
}

/* ----------- Container ----------- */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-lg {
  max-width: var(--container-wide);
}

.container-sm {
  max-width: var(--container-narrow);
}

/* ------------ Header ------------ */
.header {
  margin: 1.5rem auto;

  .logo {
  width: 130px;
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .current {
    background: var(--color-1);
    font-weight: 600;
    outline: 0;
  }

  .main-menu {
    display: flex;
    gap: 1rem;
  }

  .main-menu a {
    padding: 0.5rem 1rem;

    &:hover {
      background: var(--color-1);
    }
  }
}

/* ------------ Hero ------------ */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
  }
}
/* ------------ Gallery ------------ */
.gallery-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;;

  & a:hover {
    opacity:0.8;
  }

  .gallery-item {
    width: calc(33.333% - 20px);
    border-radius: 10px;

    img {
      border-radius: 10px;
    }
  }
}

/* ------------ Footer ------------- */
.footer {
  border-top: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;

  .footer-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 120px;
    height: 35px;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  a {
    margin: 0.2rem;
  }
}

/* --------------- About Page --------------- */
/* ---------------- Services ---------------- */
.services {
  padding: 3rem 0 6.5rem;

  /* h2 {
    width: 100%;
    margin: 5px auto;
  } */

  .services-flex {
    display: flex;
    gap: 2rem;
  }

  .service-item h4 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}

/* ------------ Team ------------ */
.team {
  padding: 5rem 0 4rem;

  .team-flex {
    display: flex;
    gap: 1.4rem;
  }

  img {
    border-radius: 10px;
  }
}

/* --------------- Contact Page --------------- */
/* ----------------- Contact ------------------ */
.contact {
  padding: 3rem 0 4rem;

  p {
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-group {
    margin: 2rem 0;
  }

  input, textarea {
    border: none;
    border-bottom: 1px solid var(--color-dark);
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 1rem;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  input:focus, textarea:focus {
    outline: 0;
  }

  button {
    width: 100%;
  }
}

/* ------------ Media Queries ------------ */
@media (max-width: 768px) {
  .header .header-flex, .services .services-flex, .team .team-flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;

    h2 {
      font-size: 1.8rem;
    }
  }

  .gallery-flex {
    gap: 10px;
    margin-bottom: 35px;

    .gallery-item {
      width: calc(50% - 10px);
    }
  }

  .footer .footer-flex {
    flex-direction: column;
    gap:1.5rem;
    text-align: center;
  }

  .team {
    padding: 3rem 0;
  }
}